@model PrescriptionViewModel
@{
    ViewBag.Title = "Prescription Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.PatientEmail</u></p>
            <p style="font-size:25px;"><u>@Model.CreatedOn</u></p>
            <p style="font-size:25px;"><u>@Model.ValidUntil</u></p>
            <p style="font-size:25px;"><u>@Model.DrugBrandName</u></p>
            <p style="font-size:25px;"><u>@Model.MedicationFrequency</u></p>
            <p style="font-size:25px;"><u>@Model.Notes</u></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {@*
                <a class="btn btn-warning" asp-controller="Drug" aspaction="Edit"
                asp-route-id="@Model.Id">Edit</a>
                <a class="ml-2 btn btn-danger" asp-controller="Drug" aspaction="Delete"
                asp-route-id="@Model.Id">Delete</a>*@
                    @*@if (!Model.IsRented)
                {
                <form class="ml-2" asp-controller="House"
                asp-action="Rent" asp-route-id="@Model.Id"
                method="post">
                <input class="btn btn-primary" type="submit"
                value="Rent" />
                </form>
                }
                else
                {
                <form class="ml-2" asp-controller="House" asp-action="Leave"
                asp-route-id="@Model.Id" method="post">
                <input class="btn btn-primary" type="submit"
                value="Leave" />
                </form>
                }*@
                }
            </div>
        </div>
    </div>
</div>