@using HospitalPharmacyManagementSystem.Services.Data.Interfaces
@using HospitalPharmacyManagementSystem.Services.Data;
@using HospitalPharmacyManagementSytem.Web.Infrastucture.Extensions;
@model DrugAllViewModel


@inject IPharmacistService PharmacistService
@{
    bool isUserPharmacist = await PharmacistService.PharmacistExistsByUserIdAsync(this.User.GetId());
}

<div class="col-md-4">
    <div class="card mb-3" style="background-color:#e1eedd">
        <img class="card-img-top" src="@Model.ImageUrl" style="width:200px;height: 200px;" alt="Drug Image">
        <div class="card-body text-center" style="background-color:#e1eedd">
            <h4>@Model.BrandName</h4>
            <h6>
                Price:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <br />
            <a asp-area="" asp-controller="Drug" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success" style="color: white; background-color:#183a1d;font-weight:500">Details</a>

            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isUserPharmacist)
                {
                    <a asp-area="" asp-controller="Drug" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning" style="color: white; background-color:#183a1d;font-weight:500">Edit</a>
                    <a asp-area="" asp-controller="Drug" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger" style="color: white; background-color:#183a1d;font-weight:500">Delete</a>
                }
            }
        </div>
    </div>
</div>