@using HospitalPharmacyManagementSystem.Common.Enums;
@model PrescribeFormModel
@{
    ViewBag.Title = "Prescribe Drug";
}
<h2 class="text-center" style="color: #f0a04b; font-weight:600">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData?.ModelState["Error"]?.Errors.First().ErrorMessage
    </div>
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="PatientEmail" style="font-weight:500"></label>
                <input asp-for="PatientEmail" class="form-control"
                       placeholder="Enter patient email here" style="background-color:#e1eedd">
                <span asp-validation-for="PatientEmail" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" style="font-weight:500"></label>
                <select asp-for="Gender" class="form-control" style="background-color:#e1eedd">
                    @foreach (int formValue in System.Enum.GetValues(typeof(Gender)))
                    {
                        <option value="@formValue">@((Gender)formValue)</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DiseaseId" style="font-weight:500"></label>
                <select asp-for="DiseaseId" class="form-control" style="background-color:#e1eedd">
                    @foreach (var disease in Model.Diseases)
                    {
                        <option value="@disease.Id">@disease.Name</option>
                    }
                </select>
                <span asp-validation-for="DiseaseId" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugId" style="font-weight:500"></label>
                <select asp-for="DrugId" class="form-control" style="background-color:#e1eedd">
                    @foreach (var drug in Model.Drugs)
                    {
                        <option value="@drug.Id">@drug.BrandName</option>
                    }
                </select>
                <span asp-validation-for="DrugId" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationFrequency" style="font-weight:500"></label>
                <input asp-for="MedicationFrequency" class="form-control"
                       placeholder="Describe the medication frequency" style="background-color:#e1eedd">
                <span asp-validation-for="MedicationFrequency" class="small textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" style="font-weight:500"></label>
                <input asp-for="Notes" class="form-control"
                       placeholder="Other important information" style="background-color:#e1eedd">
                <span asp-validation-for="Notes" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="Save" style="color: white; background-color:#183a1d;font-weight:500" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
